<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>xmlFiles.HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TenToFifty</servlet-name>
        <servlet-class>xmlFiles.TenToFifty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OddEven</servlet-name>
        <servlet-class>xmlFiles.OddEven</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleInterest</servlet-name>
        <servlet-class>xmlFiles.SimpleInterest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Factorial</servlet-name>
        <servlet-class>xmlFiles.Factorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateAndTime</servlet-name>
        <servlet-class>xmlFiles.DateAndTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientInfo</servlet-name>
        <servlet-class>xmlFiles.ClientInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreInSession</servlet-name>
        <servlet-class>xmlFiles.StoreInSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadFromSession</servlet-name>
        <servlet-class>xmlFiles.ReadFromSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TenToFifty</servlet-name>
        <url-pattern>/TenToFifty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OddEven</servlet-name>
        <url-pattern>/OddEven</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleInterest</servlet-name>
        <url-pattern>/SimpleInterest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Factorial</servlet-name>
        <url-pattern>/Factorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateAndTime</servlet-name>
        <url-pattern>/DateAndTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientInfo</servlet-name>
        <url-pattern>/ClientInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreInSession</servlet-name>
        <url-pattern>/StoreInSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadFromSession</servlet-name>
        <url-pattern>/ReadFromSession</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
